@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: 'Ubuntu', sans-serif;
}

.header {
    font-family: Roboto;
    font-style: normal;
    text-align: center;
    margin-top: 100px;
    font-size: 60px;
}

.color-highlight {
    font-family: Roboto;
    color: rgb(249, 115, 22, 1);
    font-style: normal;
}

.paragraph-container {
    display: flex;
    justify-content: center;
}

.paragraph {
    font-family: Roboto;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    width: 660px;
    margin-bottom: 15px; /* To create some space between the paragraph and the contact us button */
}

.contact-button {
    display: flex;
    justify-content: center;
    border-radius: 4px;
    background: rgb(249, 115, 22, 1);
    padding: 24px 40px;
    width: 184px;
    margin: auto;
}

.button {
    color: white;
}

.faq-closed h5 {
    color: rgb(249, 115, 22, 1);
    font-size: 20px;
}
 /* faq.html styling should go here (William)  */